body {
    background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX41510543.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 1px black, 2px 2px 5px rgb(26, 254, 254);
}

p {
    font-size: 1.1rem;
    margin: 0;
}

#gameTitle {
    font-size: 3rem;
    margin: 20px auto;
    height: 56px;
}

#description {
    width: 700px;
    height: 80px;
    margin: 10px auto;
}

canvas {
    border: 2px solid black;
    background-color: rgb(139, 150, 141);
}

#controler {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 100px;
    height: 35px;
    margin: 8px 20px;
    border-radius: 0.8rem;
    border-color: rgb(133, 133, 133) rgb(26, 254, 254) rgb(26, 254, 254) rgb(133, 133, 133);
    background-color: black;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.1rem;
    text-shadow: 2px 2px 1px black, 2px 2px 5px rgb(26, 254, 254);
}

footer {
    background-color: rgba(128, 128, 128, 0.4);
    width: 700px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#winGame, #loseGame, #gameStart, #nextLevelMsg {
    width: 702px;
    height: 502px;
    margin: 0 auto;
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gameStart {
    top: 188px;
    left: calc((100vw / 2) - (716px / 2));
    opacity: 1;
}

#winGame {
    top: 188px;
    left: calc((100vw / 2) - (716px / 2));
    opacity: 0;
}

#loseGame {
    top: 188px;
    left: calc((100vw / 2) - (716px / 2));
    opacity: 0;
}

#nextLevelMsg {
    background-color: #00000000;
    flex-direction: row;
    top: 188px;
    left: calc((100vw / 2) - (716px / 2));
    opacity: 0;
    font-size: 6rem;
    transition: all 2s;
    -webkit-transition: all 2s;
}

#nextLevel {
    margin-left: 40px;
}

.imgs {
    display: none;
}